@import "tailwindcss";

:root {
  --background: #1e1e1e;
  --foreground: #171717;
  --font-tilt_warp-sans-serif: 'Tilt Warp', sans-serif;
  --font-alegreya-serif: "Alegreya", serif;
}



@theme {
  --color-energygreen: #69de90;
  --color-darkgreen: #2f5546;
  --color-darkgrey:#0c0c0c;
  --color-secondaryText:#858585;
  --color-offWhite: #e9e9e9;
  --color-highlightblue:#0066cc;
  --font-tilt: var(--font-tilt_warp-sans-serif) ;
  --font-alegreya: var(--font-alegreya-serif);

}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --foreground: #ededed;
  }
}

/*general styles*/
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Tilt Warp", sans-serif;
}

::selection {
  background-color: #699981; /* Change highlight background */
  color: rgb(255, 255, 255); /* Change text color */
}


.title, h1, h2, p, li {
  color: #fff;
  font-family: "Tilt Warp", sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1{
  font-size: 48px;
}

h3{
  font-size: 32px;
}

Link {
  color:#FFF;
  font-family: "Tilt Warp", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
  font-size: x-large;
  padding: 15px;
}

#nav-content{
  display: flex;
  min-width: 1400px;
  margin-left: 10%;
}

p, li {
  font-family: "Alegreya", serif;
  font-size: 1.2rem;
}
